body {
  background: rgb(61, 60, 60);
  margin: 0;                      /* space outside the border*/
  padding: 0;                      /* space inside the border*/
  overflow-x: hidden;              /* hide x line contanet*/           
  display: grid;                   /*2d*/
  grid-template-columns: 2fr;
  height: 100vh;                    /*to all site*/
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.contanier {
  background-color: #1eecec ;
  color: white;  
  position: fixed;      
  z-index: 999;
  width: 100%;  
  height: 3rem;   
}

.info {
  font-size: 15px; 
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 15px;
}

.contanier .info a {
  color: #f4f7f7;
}
.section4 h1{

margin-bottom: 10%;
}
.section4{
  text-align: center;
  height: 44rem;
  background: rgb(61, 60, 60);
  position: relative;
  display: grid;
  color: rgb(252, 252, 252);
 
}
.section4 .row{
  color: rgb(0, 0, 0);
  text-align: center;
  }
  .section4 .card{
   border-radius: 35%;
   margin-bottom: 20%;
   margin-left: 15%;
   margin-right: 15%;
    }
.footer{
  width: 100%;
  justify-content: center;

}



